<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class=" text-center">Schedra</h1>
      <p class="text-center lead">Confira abaixo seus contatos.</p>
    </div>

    <%- include('includes/messages') %>

          <% if(contatos.length > 0) { %>
              <div class="responsive-table">
                <table class="table my-3">
                  <% contatos.forEach(contato => { %>
                    <tr class="align-middle">
                      <td><%= contato.nome %></td>
                      <td><%= contato.sobrenome %></td>
                      <td><%= contato.telefone %></td>
                      <td><%= contato.email %></td>
                      <td>
                        <a href="/contato/index/<%= contato._id %>" 
                           class="btn btn-primary rounded-pill text-white px-3 py-1">
                          Editar
                        </a>
                      </td>
                      <td>
                        <a href="/contato/delete/<%= contato._id %>" 
                           class="btn btn-danger rounded-pill text-white px-3 py-1">
                          Excluir
                        </a>
                      </td>
                    </tr>
                  <% }); %>
                </table>
              </div>

              <% } else { %>
                <p class="text-center lead">Não existem contatos na sua agenda.</p>
              <% } %>

    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>