<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Acesse sua agenda de contatos</h1>
      <p class="text-center lead">Sua lista de contatos, sempre à mão. Faça login ou cadastre-se abaixo.</p>


      <div class="row">

        <div class="col-lg my-5">
          <h4>Crie sua conta gratuita</h4>
          <p>Organize seus contatos com facilidade.</p>

          <form class="form-cadastro" action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Seu e-mail</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Criar minha agenda</button>
          </form>

        </div>

        <div class="col-lg my-5">
          <h4>Já tem uma conta?</h4>

          <p>Faça login para acessar sua lista de contatos.</p>

          <form class="form-login" action="/login/access" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %> " >
            <div class="form-group">
              <label>Seu e-mail</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Entrar na minha agenda</button>
          </form>

          
        </div>

      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>